@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*,
button {
  font-family: 'Open Sans', sans-serif;
}

body {
  display: grid;
  height: 100vh;
  margin: 0;
  grid-template-rows: .5fr 9fr;
  grid-template-areas: "header"
                        "main";
}

nav {
  box-shadow: 0px 5px 5px #80808030;
  grid-area: header;
}

nav>div>img {
  height: 57px;
}

nav>h1 {
  margin-top: 14px;
  margin-bottom: 10px;
}

main {
  background-image: url('img/beyonce-COB-bw.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 2136px;
  grid-area: main;
}

hr {
  width: 90%;
}

.score-board {
  background-color: black;
  box-shadow: 5px 5px 5px #808080d1;
  color: white;
  height: 260px;
  position: absolute;
  top: 58px;
  width: 200px;
  display: none;
  z-index: 2;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.margin-auto {
  margin-right: auto;
  margin-left: auto;
}

.block {
  display: block;
}

 .game-start-info {
  margin-top: 180px;
}

input {
  margin-bottom: 7px;
  margin-right: 50px;
  margin-left: 50px;
  height: 35px;
  width: 225px;
}

button {
  background-color: black;
  color: white;
  height: 41px;
}

button:disabled {
  background: #808080b3;
}

a {
  text-decoration: none;
}
.names {
  margin-top: 7px;
  margin-right: 215px;
  margin-left: 52px;
}
.play-game {
  width: 564px;
  font-size: 18px;
  font-weight: bold;
}

.inputs {
  margin-bottom: 100px;
}

.final-message {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
}

.final-game {
  display: inline;
  font-size: 18px;
  font-weight: bold;
  margin-left: 30px;
  margin-right: 30px;
  width: 221px;
}

.menu {
  background-color: black;
  position: absolute;
  height: 57px;
  left: 0;
}

.error-1 {
  position: relative;
  cursor: default;
}

.hide {
  display: none;
}

.no-hide {
  display: block;
}

/* Direction Page */

.directions {
  width: 568px;
  margin-top: 180px;
}

.player-welcome {
  margin-top: 100px;
}

article>p {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Game.html */

.card {
  background: white;
  border: 1px solid black;
  box-shadow: 5px 5px 10px #80808069;
  font-size: 90px;
  font-weight: bold;
  height: 130px;
  text-align: center;
  width: 85px;
  z-index: -1;
}


.game {
  background-image: none;
  display: grid;
  margin: 0;
  grid-template-rows: 1fr;
  grid-template-columns: 1.2fr 3fr 1.2fr;
  grid-template-areas: "player1" "game" "player2";
}

.game-player1 {
  background-color: black;
  color: white;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 1;
}

.game-player2 {
  background-color: black;
  color: white;
  margin-top: 20px;
  margin-right: 20px;
  z-index: 1;
}

.game-cards {
  display: grid;
  margin: 0;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "row-1"
                        "row-2"
                        "row-3";
}

.row-1 {
  align-items: center;
  grid-area: row-1;
  display: flex;
  justify-content: space-around;
}

.row-2 {
  align-items: center;
  grid-area: row-2;
  display: flex;
  justify-content: space-around;
}

.row-3 {
  align-items: center;
  grid-area: row-3;
  display: flex;
  justify-content: space-around;
}

.matched {
  font-size: 50px;
}

.going {
  background-color: green;
  border-radius: 70px;
}

.not-going {
  background-color: red;
  border-radius: 70px;

}

.flip-vertical-right {
	-webkit-animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);

  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}
@keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

.swing-out-top-fwd {
	-webkit-animation: swing-out-top-fwd 1s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
	        animation: swing-out-top-fwd 1s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
}

@-webkit-keyframes swing-out-top-fwd {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(70deg);
            transform: rotateX(70deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
}
@keyframes swing-out-top-fwd {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(70deg);
            transform: rotateX(70deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
}
